@import url('http://fonts.googleapis.com/css?family=Roboto');

:root {
    --primary-color-100: #3f45f0;
    --primary-color-80: hsl(238deg 100% 76%);
    --primary-color-60: hsl(238deg 100% 96%);

    --accent-color-100: #FFEB3B;
    --accent-color-80: #FFEB3B;
    --accent-color-60: #FFEB3B;

    --border-color-light: #b5b5b5;
    --border-color-lighter: #e0e0e0;
}


body {
    margin: 0px;
    font-family: Roboto;
}

.head {
    height: 70px;
    width: 100%;
    background: var(--primary-color-100);
    font-size: 22px;
    padding: 10px;
    box-sizing: border-box;
    color: white;
    font-family: Roboto;
}

.content {
    display: flex;
    flex-direction: row;
    width: 100%;
}

.nav {
    float: right;
    margin-right: 40px;
    margin-top: 11px;
}

.nav a {
    font-size: 22px;
    color: white;
    margin-right: 20px;
    text-decoration: none;
}

.nav a:hover {
    color: lightgray;
}

#page {
    width: 100%;
    height: 100vh;
}

#head-title {
    margin-top: 11px;
    float: left;
    margin-left: 20px;
}

#logo {
    float: left;
}

#panel-container {
    width: 100%;
    position: absolute;
    left: 0px;
    top: 70px;
    box-sizing: border-box;
    backdrop-filter: blur(3px);
    height: calc(100vh - 70px);
    z-index: 1;
}

.flex-container {
    display: flex;
    flex-direction: row;
    width: 100%;
    justify-content: space-around;
    align-items: center;
    box-sizing: border-box;
}

.dcc-upload {
    width: 100%;
    height: 60px;
    line-height: 60px;
    border-width: 1px;
    border-style: dashed;
    border-radius: 5px;
    text-align: center;
    margin: 10px;
}

.setup-container-part {
    width: 80%;
}

.flex-row-layout-ontainer {
    width: 100%;
    display: flex;
    justify-content: center;
    align-content: center;
    flex-direction: column-reverse;
    margin: 15px;
    max-width: 1000px;
    margin: auto;
    flex-wrap: nowrap;
    align-items: center;
}

.cytoscape-agent-view {
    width: 100% !important;
    height: calc(100vh - 70px) !important;
    position: absolute;
}

.full-width {
    width: 100%;
}

.sub-panel {
    background-color: var(--primary-color-60);
    height: 35px;
}

.mui-btn--accent {
    color: rgb(68, 68, 68) !important;
}

.no-margin {
    margin: 0px !important;
}

.left-panel {
    background-color: #f3f3f399;
    height: calc(100vh - 70px);
    float: left;
    width: 180px;
    top: 70px;
    position: absolute;
    z-index: 1;
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    align-content: flex-start;
    justify-content: flex-start;
    align-items: flex-start;
    padding: 10px;
    box-sizing: border-box;
    backdrop-filter: blur(5px);
    border-right: 1px solid var(--border-color-light);
}

.medium-font-size {
    font-size: 16px;
}

.double-element-height {
    height: 60px;
}

.overlay-centered {
    background-color: rgba(255, 255, 255, 0.95);
    position: absolute;
    top: 160px;
    left: 240px;
    width: calc(100% - 310px);
    height: calc(100vh - 250px);
}

.border-box-style {
    box-sizing: border-box;
}

.header-flex {
    display: flex;
    flex-direction: row;
    width: 100%;
    justify-content: space-between;
    border-bottom: 1px solid var(--border-color-lighter);
}